* {
  font-family: "source-han-serif-japanese", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}

.siimple-navbar.siimple-navbar--teal {
  background-color: #009688;
}
.siimple-footer {
  padding-top: 20px;
  padding-bottom: 20px;
}
.siimple-footer.siimple-footer--teal {
  background-color: #009688;
}
.fa-large {
  font-size: 36px;
  color: white;
}
.fixed-footer {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  padding: 10px;
  width: 100%;
}

.box-title {
  font-size: 20px !important;
  max-height: 30px;
}

.mt-10 {
  margin-top: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
